&allocations
        nelements=1,
        natoms=2,
        ngrid(:)=6 6 1
&end
&crystal
        lfactor=0.24655,
        lattvec(:,1) = 1.0000000  0.0000000  0.0000000,
        lattvec(:,2) = -0.5000000 0.8660254  0.0000000,
        lattvec(:,3) = 0.0000000  0.0000000  8.0000000,
        elements="C"
        types=1 1
        positions(:,1) = 0.333333333  0.666666666  0.500000000, 
        positions(:,2) = 0.666666666  0.333333333  0.500000000,
        scell(:)=6 6 1
&end
&parameters
        T_min = 100
        T_max = 500
        T_step = 100
        scalebroad=1.0
&end
&flags
        espresso=.true.
        nonanalytic=.false.
        isotopes=.true.
&end
