# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.log
auto.log

# --- Quantum Espresso / ShengBTE Outputs ---
*.wfc
*.save/
*.hub/
*.out
*.in
!*_unit.scf.in
!*_supper.scf.in
CRASH
disp.dat
FORCE_CONSTANTS*
BTE.*
CONTROL
espresso.ifc2

# --- Generated Folders ---
thirdorder_*/
ShengBTE/task_*/
QE_picture/
QE_output/

# --- System ---
.DS_Store
