&allocations
        nelements=1,
        natoms=2,
        ngrid(:)=12 12 1    ! q点网格
&end
&crystal
        lfactor=0.24655,  !晶格常数, 1 Bohr =0.0529177 nm
        lattvec(:,1) = 1.0000000  0.0000000  0.0000000,   ! 原胞基矢量
        lattvec(:,2) = -0.5000000 0.8660254  0.0000000,
        lattvec(:,3) = 0.0000000  0.0000000  8.0000000,
        elements="C"    ! 元素名称
        types=1 1       ! 对应编号
        positions(:,1) = 0.333333333  0.666666666  0.500000000,   ! 原子位置
        positions(:,2) = 0.666666666  0.333333333  0.500000000,
        scell(:)=6 6 1    ! 二阶力常数计算的超胞大小（ph.x）
&end
&parameters   ! 温度设置
        ! T=300   ! 单点温度计算
        T_min = 100     ! 起始温度 (比如 200K)
        T_max = 500     ! 结束温度 (比如 800K)
        T_step = 100     ! 步长 (每隔 50K 算一个点)
        scalebroad=1.0
&end
&flags
        espresso=.true.
        nonanalytic=.false.
        isotopes=.true.
&end